@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'primeicons/primeicons.css';

@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif;

    --color-primary: #000000;
    --color-light-gray: #F2F2F2;
    --color-soft-ivory: #EAE4D5;
    --color-warm-gray: #B6B09F;
}

@utility text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@utility vlr {
    writing-mode: vertical-lr;
}
@utility vrl{
    writing-mode: vertical-rl;
}
@utility slr {
    writing-mode: sideways-lr;
}
@utility srl {
    writing-mode: sideways-rl;
}
@utility htb{
    writing-mode: horizontal-tb;
}



@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
